#containerSectionMenu {
    display: grid;
    grid-template-rows: 20fr 60fr 20fr;
    grid-template-columns: 15fr 15fr 55fr 15fr;
}

.containerMenuMain {
    display: grid;
    grid-row: 2 / 2;
    grid-column: 2 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuMainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 5fr;
}

.containerMenuTitleMain {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.menuTitleText {
    margin: 0;
    padding: 0;
    /*color: #FFDEADFF;*/
    color: #FFF5EE;
    opacity: 0.8;
    font-size: 2.1rem;
    font-weight: 400;
}

#containerMenuButtonsMain {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuButtonsMainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#containerMenuButtonGameSnowmanBuildMain {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuButtonGameSnowmanDestroyMain {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerMenuButtonHome {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerMenuButtonGameSnowmanBuild {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerMenuButtonGameSnowmanDestroy {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerMenuButtonText {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;
    text-align: center;
}

.menuButtonText {
    /*color: #ac4a71;*/
    color: #1c7293;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

#containerMenuButtonHomeMain {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.menuButtonClick {
    background-color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;
    text-align: center;
}

.fa-igloo {
    font-size: 2.1rem;
    color: #FFDEADFF;
    color: #FFFFFF;
    text-shadow: 4px -1px 20px #FFFFFF;
}

.fa-snowman {
    font-size: 2.1rem;
    /*color: #FFDEADFF;*/
    text-shadow: 4px -1px 20px #FFFFFF;

}

@media (hover: hover) and (pointer: fine) {

    .menuButtonClick:hover {
        opacity: 1;
    }

    .menuButtonClick:hover .fa-igloo {
        color: #FFFFFF;
        text-shadow: none;
    }

    .menuButtonClick:hover .fa-snowman {
        color: #FFFFFF;
        text-shadow: none;
    }
}

@media (max-width: 1200px) {

    #containerSectionMenu {
        display: grid;
        grid-template-rows: 2fr 8fr 0fr;
        grid-template-columns: 1fr 6fr 12fr 1fr;
    }

    #containerMenuMainParts {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr 6fr;
    }

}