.containerGameSnowmanLivesMain {
    display: grid;
    grid-row: 4 / 4;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: black;
}

.containerGameSnowmanLivesMainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-columns: 0fr 10fr 0fr;
    background-color: black;
}

.containerGameSnowmanLives {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: black;
}

.gameSnowmanLives {
    background-color: #4cc9f0;
    color: #1b3b6f;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 900;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #0077b6;
}

.gameSnowmanLivesNumber {
    color: #d00000;
    font-size: 1rem;
    font-weight: 900;
}

@media (max-width: 1200px) {

    .containerGameSnowmanLivesMain {
        display: grid;
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color: black;
    }

    .gameSnowmanLivesNumber {
        font-size: 0.8rem;
        font-weight: 900;
    }
}