:root {
    --display: flex;
    --justifyContent: center;
    --alignItems: center;
    --borderRadius: 1.7rem;
    /*--snowmanFigureColor: #ac4a71;*/
    --snowmanFigureColor: #4cc9f0;

    /*--snowmanFigureShapeInitialColor: #ac4a71;*/
    --snowmanFigureShapeInitialColor: #4cc9f0;

    /*--snowmanFigureShapeInitialBorderColor: #ac4a71;*/
    --snowmanFigureShapeInitialBorderColor: #4cc9f0;

    /*--snowmanFigureShapeAnimationDisapperColor: #000000;*/
    --snowmanFigureShapeAnimationDisapperColor: #1b3b6f;

    /*--snowmanFigureShapAnimationDisapperBorderColor: #000000;*/
    --snowmanFigureShapAnimationDisapperBorderColor: #1b3b6f;

    /*--snowmanFigureElementHatBackgroundColor: #000000;*/
    --snowmanFigureElementHatBackgroundColor: #1b3b6f;
}

#containerGameSnowmanAnimationElements {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr repeat(4, 6fr) 1fr;
    grid-template-columns: 1fr 4fr 8fr 8fr 4fr 1fr;
}

#containerSnowmanFigureAction {
    display: grid;
    grid-row: 2 / 6;
    grid-column: 3 / 5;
    border: none;
    border-radius: 0.45rem;
    grid-template-rows: 1fr;
    grid-template-columns:  minmax( 400px, 500px);
    justify-content: center;
}

#containerSnowmanFigureElements-home {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(23, 1fr);
}

#containerSnowmanFigureElements {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(23, 1fr);
}

#containerSnowmanFigureMessage-1-welcomeText {
    display: grid;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    z-index: 1;
}

#snowmanFigureStartGameElement-1-welcomeText {
    text-shadow: 4px -1px 20px #ac4a71;
    text-shadow: 4px -1px 20px #889CEA;
    text-shadow: 4px -1px 20px #4cc9f0;
    color: #000000;
    margin: auto;
    text-align: center;
    font-size: 13.7rem;
    font-weight: 700;
    padding: 0;
}

#containerSnowmanFigureMessage-1-goodbyeText {
    display: grid;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    z-index: 1;
}

#snowmanFigureStartGameElement-1-goodbyeText {
    text-shadow: 4px -1px 20px #ac4a71;
    text-shadow: 4px -1px 20px #889CEA;
    text-shadow: 4px -1px 20px #4cc9f0;
    color: #000000;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 0;
}

.containerSnowmanFigureMessage {
    display: grid;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    z-index: 1;
}


.snowmanFigureStartGameElement-setAnimationToShowColor {
    animation: animationStartGameElement-1-setAnimationToShowColor 2s alternate;
}

@keyframes animationStartGameElement-1-setAnimationToShowColor {
    from {
        text-shadow: 4px -1px 20px #000000;
    }
    to {
        text-shadow: 4px -1px 20px #ac4a71;
        text-shadow: 4px -1px 20px #889CEA;
        text-shadow: 4px -1px 20px #4cc9f0;
    }
}

.snowmanFigureStartGameElement-setAnimationToRemoveColor {
    animation: animationStartGameElement-1-remove 3s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationStartGameElement-1-remove {
    from {
        text-shadow: 4px -1px 20px #889CEA;
        text-shadow: 4px -1px 20px #4cc9f0;
    }
    to {
        text-shadow: 4px -1px 20px #000000;
        text-shadow: 4px -1px 20px #1c7293;
    }
}

/* snowman container - start from top (hat) */
#containerSnowmanFigureElement-0 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 8 / 17;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-1 {
    display: grid;
    grid-row: 3 / 5;
    grid-column: 9 / 16;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-2 {
    display: grid;
    grid-row: 4 / 5;
    grid-column: 9 / 16;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-3 {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 7 / 18;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-4 {
    display: grid;
    grid-row: 6 / 8;
    grid-column: 9 / 16;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-5 {
    display: grid;
    grid-row: 8 / 10;
    grid-column: 9 / 16;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-6 {
    display: grid;
    grid-row: 10 / 12;
    grid-column: 8 / 17;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-7 {
    display: grid;
    grid-row: 12 / 14;
    grid-column: 8 / 17;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-8 {
    display: grid;
    grid-row: 14 / 16;
    grid-column: 8 / 17;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-9 {
    display: grid;
    grid-row: 16 / 18;
    grid-column: 7 / 18;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-10 {
    display: grid;
    grid-row: 18 / 20;
    grid-column: 6 / 19;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-11 {
    display: grid;
    grid-row: 20 / 22;
    grid-column: 5 / 20;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-12 {
    display: grid;
    grid-row: 22 / 22;
    grid-column: 2 / 23;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

/* hands  - left */
#containerSnowmanFigureElement-13 {
    display: grid;
    grid-row: 11 / 13;
    grid-column: 4 / 12;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-14 {
    display: grid;
    grid-row: 9 / 11;
    grid-column: 4 / 12;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

/* hands - right */
#containerSnowmanFigureElement-15 {
    display: grid;
    grid-row: 11 / 13;
    grid-column: 15 / 23;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-16 {
    display: grid;
    grid-row: 9 / 11;
    grid-column: 15 / 23;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#snowmanFigureElementAction-0 {
}

/* hat */
.snowmanFigureElementAction-0-hatElementInitialPositionForShape {
    position: relative;
    height: 100%;
    width: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 120%;
    left: 52%;
}

.snowmanFigureElementAction-0-hatElementInitialPositionForAnimation {
    position: relative;
    height: 100%;
    width: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 120%;
    left: 52%;
}

.snowmanFigureElementAction-0-setAnimationHatFinalColor {
    border: 0;
    animation: animationHatFinalColor-0 4s;
    animation-fill-mode: forwards;
}

@keyframes animationHatFinalColor-0 {
    0% {
    }
    100% {
        background-color: var(--snowmanFigureElementHatBackgroundColor);
        /*box-shadow: -5px -1px 19px 4px #390B1E;*/
        box-shadow: -5px -1px 19px 4px #2FCED9;
    }
}

.snowmanFigureElementAction-0-setHatFinalColor {
    border: 0;
    background-color: var(--snowmanFigureElementHatBackgroundColor);;
    /*box-shadow: -5px -1px 19px 4px #390B1E;*/
    box-shadow: -5px -1px 19px 4px #2FCED9;
}

.snowmanFigureElementAction-0 {
    animation: animationHatElement-0 5s 0s alternate infinite;
    transform-origin: right bottom;
    animation-fill-mode: forwards;
}

@keyframes animationHatElement-0 {
    from {
        rotate: 4deg;
        top: 115%;
        left: 52%;
    }
    to {
        rotate: 4deg;
        top: 320%;
        left: 188%;
    }
}

#snowmanFigureElementAction-1 {
}

.snowmanFigureElementAction-1-hatElementInitialPositionForShape {
    position: relative;
    top: 30%;
    left: 0;
}

.snowmanFigureElementAction-1-hatElementInitialPositionForAnimation {
    position: relative;
    border-radius: 20%;
    rotate: 4deg;
    top: 30%;
    left: 0;
}

.snowmanFigureElementAction-1-setAnimationHatFinalColor {
    border: 0;
    animation: animationHatFinalColor-1 4s;
    animation-fill-mode: forwards;
}

@keyframes animationHatFinalColor-1 {
    0% {
    }
    100% {
        background-color: var(--snowmanFigureElementHatBackgroundColor);;
        box-shadow: -5px -1px 19px 1px #390B1E,
           -4px -1px 20px 1px var(--snowmanFigureShapeInitialColor) inset;
    }
}

.snowmanFigureElementAction-1-setHatFinalColor {
    border: 0;
    background-color: var(--snowmanFigureElementHatBackgroundColor);;
    box-shadow: -5px -1px 19px 1px #390B1E,
    -4px -1px 20px 1px var(--snowmanFigureShapeInitialColor) inset;
}

.snowmanFigureElementAction-1 {
    animation: animationHatElement-1 5s 0s alternate infinite;
    transform-origin: right bottom;
}

@keyframes animationHatElement-1 {
    from {
        rotate: 4deg;
        top: 30%;
        left: 0;
    }
    to {
        rotate: 130deg;
        top: 15%;
        left: 50%;
    }
}

#snowmanFigureElementAction-2 {
}

.snowmanFigureElementAction-2-hatElementInitialPositionForShape {
    position: relative;
    top: 70%;
    left: 0;
}

.snowmanFigureElementAction-2-hatElementInitialPositionForAnimation {
    position: relative;
    rotate: 4deg;
    top: 70%;
    left: 0;
}

.snowmanFigureElementAction-2-setAnimationHatFinalColor {
    border: 0;
    animation: animationHatFinalColor-2 4s;
    animation-fill-mode: forwards;
}

@keyframes animationHatFinalColor-2 {
    0% {
    }
    100% {
        background-color: var(--snowmanFigureElementHatBackgroundColor);;
        box-shadow: 0 0 0 0 var(--snowmanFigureShapeInitialColor);
    }
}

.snowmanFigureElementAction-2-setHatFinalColor {
    border: 0;
    background-color: var(--snowmanFigureElementHatBackgroundColor);;
    box-shadow: 0 0 0 0 var(--snowmanFigureShapeInitialColor);
}

.snowmanFigureElementAction-2 {
    animation: animationHatElement-2 5s 0s alternate infinite;
    transform-origin: right bottom;
}

@keyframes animationHatElement-2 {
    from {
        rotate: 4deg;
        top: 70%;
        left: 0;
    }
    to {
        rotate: 130deg;
        top: 10%;
        left: 45%;
    }
}

#snowmanFigureElementAction-3 {
}

.snowmanFigureElementAction-3-hatElementInitialPositionForShape {
    position: relative;
    width: 90%;
    margin: 0 auto;
    /*rotate: 4deg;*/
    top: 70%;
    left: 0;
    z-index: 1;
}

.snowmanFigureElementAction-3-hatElementInitialPositionForAnimation {
    position: relative;
    border-radius: 1%;
    width: 90%;
    margin: 0 auto;
    rotate: 4deg;
    top: 35%;
    left: 0;
    z-index: 1;
}

.snowmanFigureElementAction-3-setAnimationHatFinalColor {
    border: 0;
    animation: animationHatFinalColor-3 4s;
    animation-fill-mode: forwards;
}

@keyframes animationHatFinalColor-3 {
    0% {
    }
    100% {
        background-color: var(--snowmanFigureElementHatBackgroundColor);
        /*box-shadow: inset -5px 3px 6px 1px #390B1E;*/
        box-shadow: inset -5px 3px 6px 1px #4CE5F9;
    }
}

.snowmanFigureElementAction-3-setHatFinalColor {
    border: 0;
    background-color: var(--snowmanFigureElementHatBackgroundColor);
    /*box-shadow: inset -5px 3px 6px 1px #390B1E;*/
    box-shadow: inset -5px 3px 6px 1px #4CE5F9;
}

.snowmanFigureElementAction-3 {
    animation: animationHatElement-3 5s 0s alternate infinite;
    transform-origin: right bottom;
}

@keyframes animationHatElement-3 {
    from {
        rotate: 4deg;
        top: 70%;
        left: 0;
    }
    to {
        rotate: 130deg;
        top: -80%;
        left: -5%;
    }
}

/* smile */
#snowmanFigureElementSmile {
    width: 40%;
    height: 40%;
    border: 0;
    opacity: 0.8;
    border-radius: 70%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: -7%;
    box-shadow: inset 0px -2.5px 0px 0px,
    inset -6px -4px 0px -1px;
    z-index: 2;
}

@keyframes animationSnowmanFigureElementActionAddShapeSmileChangeColor {
    from {
        box-shadow: inset 0px -2.5px 0px 0px var(--snowmanFigureShapeAnimationDisapperColor),
        inset -6px -4px 0px -1px var(--snowmanFigureShapeAnimationDisapperColor);
    }
    to {
        box-shadow: inset 0px -2.5px 0px 0px var(--snowmanFigureShapeInitialColor),
        inset -6px -4px 0px -1px var(--snowmanFigureShapeInitialColor);
    }
}

.snowmanFigureElementActionAddShapeSmile {
    animation: animationSnowmanFigureElementActionAddShapeSmileChangeColor 4s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationSnowmanFigureElementActionChangeColor {
    from {
        box-shadow: inset 0px -2.5px 0px 0px var(--snowmanFigureShapeInitialColor),
        inset -6px -4px 0px -1px var(--snowmanFigureShapeInitialColor);
    }
    to {
        box-shadow: inset 0px -2.5px 0px 0px var(--snowmanFigureShapeAnimationDisapperColor),
        inset -6px -4px 0px -1px var(--snowmanFigureShapeAnimationDisapperColor);
    }
}

.snowmanFigureElementActionChangeColor {
    animation: animationSnowmanFigureElementActionChangeColor 4s alternate;
    animation-fill-mode: forwards;
}

.snowmanFigureElementActionFinalSmile {
    box-shadow: inset 0px -2.5px 0px 0px #000000,
    inset -6px -4px 0px -1px #000000;
}

.snowmanFigureElementSmileSad {
    box-shadow: 0px -3px 0px 1px #390B1E;
}

/* eyes */
.snowmanFigureElementEyes {
    width: 27%;
    height: 54%;
    margin-top: 7%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 60%;
    z-index: 1;
}

.snowmanFigureElementActionFinalEyes {
    background-color: #FFFFFF;
    box-shadow: inset -2px 12px 2px 0px #000000,
    inset 1px 3px 2px 6px #FFFFFF,
    inset 1px 3px 3px 9px #1A780C,
    inset 0px 1px 2px 14px #000000;
}

.snowmanFigureElementEye-0 {
}

.snowmanFigureElementEye-1 {
}

.snowmanFigureElementButton {
    width: 15%;
    height: 70%;
    border-radius: 80%;
}

.snowmanFigureElementButtonFinal {
    background-color: #FFFFFF;
    width: 15%;
    height: 70%;
    border-radius: 80%;
    box-shadow: inset 6px -3px 14px 3px #000000;
}


/* snowman action id - start from top (hat) */
.snowmanFigureElementActionAddShapeColor {
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    animation: animationSnowmanFigureElementActionAddShapeColor 3s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationSnowmanFigureElementActionAddShapeColor {
    from {
        color: var(--snowmanFigureShapeAnimationDisapperColor);
        border-color: var(--snowmanFigureShapeAnimationDisapperColor);
    }
    to {
        color: var(--snowmanFigureShapeInitialColor);
        border-color: var(--snowmanFigureShapeInitialColor);
    }
}

/* hands */
.snowmanFigureElementActionAddShapeHands {
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
}

/* buttons  */
.snowmanFigureElementActionAddShapeButton {
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
}

.snowmanFigureElementActionShapeRemoveColor {
    animation: animationSnowmanFigureElementActionShapeRemoveColor 3s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationSnowmanFigureElementActionShapeRemoveColor {
    from {
        color: var(--snowmanFigureShapeInitialColor);
        border-color: var(--snowmanFigureShapeInitialColor);
    }
    to {
        color: var(--snowmanFigureShapeAnimationDisapperColor);
        border-color: var(--snowmanFigureShapeAnimationDisapperColor);
    }
}

.snowmanFigureElementActionFinalSnowballs {
    border: 0;
    animation: animationSnowballs 4s;
    animation-fill-mode: forwards;
}

@keyframes animationSnowballs {
    0% {
    }
    100% {
        box-shadow: -5px -2px 50px 1px var(--snowmanFigureColor),
        -70px 13px 50px 4px var(--snowmanFigureColor) inset;
    }
}

.snowmanFigureElementActionFinalSnowballsColor {
    border: 0;
    box-shadow: -5px -2px 50px 1px var(--snowmanFigureColor),
    -70px 13px 50px 4px var(--snowmanFigureColor) inset;
}

.snowmanFigureElementsDisplay {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
}

/* button number = container/ action element number */
#containerSnowmanFigureElementButtonNo-6 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 100%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-7 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 100%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-8 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 100%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-9 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 85%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-10 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 75%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-11 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 65%;
    height: 50%;
}

#snowmanFigureElementAction-4 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
}

#snowmanFigureElementAction-5 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
}

#snowmanFigureElementAction-6 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-7 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-8 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-9 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-10 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-11 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-12 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-13 {
    border-radius: var(--borderRadius);
}

.snowmanFigureElementAction-13-handInitialPositionForShape {
    position: relative;
    rotate: -145deg;
    height: 75%;
    right: 10%;
    top: -30%;
}

.snowmanFigureElementAction-13-handInitialPositionForAnimation {
    rotate: -145deg;
    height: 75%;
    right: 10%;
    top: -30%;
}

.snowmanFigureElementAction-13 {
    animation: animationHandLeftShoulder 5s 2s alternate infinite;
}

@keyframes animationHandLeftShoulder {
    0% {
        rotate: -145deg;
        height: 75%;
        right: 10%;
        top: -30%;
    }
    10% {
        rotate: -125deg;
        height: 75%;
        right: 3%;
        top: -90%;
    }
    20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        rotate: -135deg;
        height: 75%;
        right: 9%;
        top: -60%;
    }
}

@keyframes animationHandLeftElbow {
    0% {
        rotate: 130deg;
        height: 75%;
        right: 15%;
        top: -60%;
    }
    10% {
        height: 75%;
        right: 0%;
        top: -140%;
        rotate: 130deg;
    }
    20% {
        height: 75%;
        right: 10%;
        top: -100%;
        rotate: 130deg;
    }
    40% {
        height: 75%;
        right: 38%;
        top: -120%;
        rotate: 85deg;
    }
    50% {
        height: 75%;
        right: 50%;
        top: -115%;
        rotate: 65deg;
    }
    60% {
        height: 75%;
        right: 38%;
        top: -120%;
        rotate: 85deg;
    }
    70% {
        height: 75%;
        right: 50%;
        top: -115%;
        rotate: 65deg;
    }
    80% {
        height: 75%;
        right: 38%;
        top: -120%;
        rotate: 85deg;
    }
    100% {
        height: 75%;
        right: 10%;
        top: -100%;
        rotate: 130deg;
    }
}

#snowmanFigureElementAction-14 {
    border-radius: var(--borderRadius);
}

.snowmanFigureElementAction-14-handInitialPositionForShape {
    position: relative;
    rotate: 90deg;
    height: 75%;
    right: 40%;
    top: -75%;
}

.snowmanFigureElementAction-14-handInitialPositionForAnimation {
    rotate: 130deg;
    height: 75%;
    right: 15%;
    top: -60%;
}

.snowmanFigureElementAction-14 {
    animation: animationHandLeftElbow 5s 2s alternate infinite;
    z-index: 1;
}

#snowmanFigureElementAction-15 {
    border-radius: var(--borderRadius);
}

.snowmanFigureElementAction-15-handInitialPositionForShape {
    position: relative;
    height: 75%;
    rotate: -35deg;
    right: 15%;
    top: -27%;
}

.snowmanFigureElementAction-15-handInitialPositionForAnimation {
    /*position: relative;*/
    height: 75%;
    rotate: -35deg;
    right: 15%;
    top: -27%;
}

.snowmanFigureElementAction-15 {
    animation: animationHandRightShoulder 5s alternate infinite;
}

@keyframes animationHandRightShoulder {
    from {
        rotate: -35deg;
        right: 15%;
        top: -27%;
    }
    to {
        rotate: -45deg;
        right: 17%;
        top: -55%;
    }
}

#snowmanFigureElementAction-16 {
    border-radius: var(--borderRadius);
}

.snowmanFigureElementAction-16-handInitialPositionForShape {
    position: relative;
    height: 75%;
    right: -15%;
    top: -70%;
    rotate: 90deg;
}

.snowmanFigureElementAction-16-handInitialPositionForAnimation {
    rotate: 60deg;
    right: 5%;
    top: -62%;
}

.snowmanFigureElementAction-16 {
    animation: animationHandRightElbow 5s alternate infinite;
}

@keyframes animationHandRightElbow {
    from {
        rotate: 60deg;
        right: 5%;
        top: -62%;
    }
    to {
        rotate: 75deg;
        right: 2%;
        top: -116%;
    }
}

@media (max-width: 1200px) {
    #snowmanFigureStartGameElement-1-welcomeText {
        /*font-size: 8.5rem;*/
    }
}