.gameSnowmanLives {
    /*background-color: #2c3e3a;*/
    background-color: #4cc9f0;
    color: #1b3b6f;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 900;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #1f130e;
}

.gameSnowmanLivesNumber {
    color: #d00000;
    font-size: 1rem;
    font-weight: 900;
}

.containerGameSnowmanLives {
    display: grid;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background-color: black;
}

@media (max-width: 1200px) {

    .containerGameSnowmanLives {
        display: grid;
        grid-row: 4 / 5;
        grid-column: 3 / 3;
        background-color: black;
    }

    .gameSnowmanLivesNumber {
        font-size: 0.8rem;
        font-weight: 900;
    }
}