#containerMainSectionGameSnowman {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 2fr 28fr 24fr 1fr 1fr 14fr 14fr 4fr;
    grid-template-columns: 17fr 3fr 13fr 21fr 3fr 3fr 21fr 13fr 3fr 17fr;
}

/* gameSnowmanFigure.css */
#containerGameSnowmanAnimation {
    display: grid;
    grid-row: 2 / 8;
    grid-column: 2 / 6;
    /*box-shadow: 0 2px 10px 0 #621735;*/
    box-shadow: 0 2px 10px 0 #4cc9f0;
    grid-template-rows: 1fr;
    grid-template-columns:  minmax( 400px, 1fr);
}

/* gameSnowmanWordElements.js */
#containerGameSnowmanWord {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 6 / 10;
    grid-template-rows: 1fr;
    grid-template-columns:  minmax( 400px, 1fr);
    justify-content: center;
}

/* gameSnowmanKeyboard.js */
#containerGameSnowmanKeyboard {
    display: grid;
    grid-row: 6 / 8;
    grid-column: 6 / 10;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(400px, 1fr);
}

@media (max-width: 1200px) {

    #containerMainSectionGameSnowman {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        grid-template-rows: 0fr 19fr 66fr 0fr 0fr 17fr 0fr 0fr;
        grid-template-columns: 5fr 15fr 13fr 21fr 3fr 3fr 21fr 13fr 15fr 5fr;
    }

    #containerGameSnowmanAnimation {
        display: grid;
        grid-row: 3 / 6;
        grid-column: 2 / 10;
    }

    #containerGameSnowmanWord {
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 10;
        /*border-top: 1px solid #621735;*/
    }

    #containerGameSnowmanKeyboard {
        display: grid;
        grid-row: 6 / 9;
        grid-column: 2 / 10;
    }

}