:root {
    /*--homeButtoGameBnoxShadow: 0 0px 5px 0px #621735;*/
    --homeButtoGameBnoxShadow: 0 0px 5px 0px #1c7293;
    /*--homeButtoGameBnoxShadowHover: 0 2px 13px 0px #621735;*/
    --homeButtoGameBnoxShadowHover: 0 2px 13px 0px #1c7293;
}

#containerMainSectionHome {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 17fr 17fr 3fr 3fr 17fr 17fr 6fr;
    grid-template-columns: 10fr 3fr 17fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 17fr 3fr 10fr;
}

.containerMainHome {
    display: grid;
    grid-row: 2 / 8;
    grid-column: 2 / 14;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerHomeGamesButtons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#containerGameSnowmanDescriptionSnowmanBuild {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameSnowmanDescriptionSnowmanDestroy {
    display: grid;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerGameSnowmanDescription-gameButton {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: repeat(1, 1fr 8fr 1fr);
    grid-template-columns: 30fr 40fr 30fr;
}

.containerGameSnowmanDescription-gameButtonField {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-radius: 2%;
    box-shadow: var(--homeButtoGameBnoxShadow);
    opacity: 0.9;
}

.containerGameSnowmanDescription-gameButtonField:hover {
    box-shadow: var(--homeButtoGameBnoxShadowHover);
    opacity: 1;
}

.containerGameSnowmanDescription-gameOn {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerGameSnowmanDescription-gameButtonClick {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    z-index: 1;
}

.containerGameSnowmanDescription-gameButtonText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 30fr 20fr 20fr 10fr 20fr;
    grid-template-columns: 1fr;
}

.homeButtonGameSnowman {
    background-color: #000000;
    opacity: 0.2;
    margin: 0;
    padding: 0;
    border: 0;
}

.homeButtonGameSnowman:hover {
    opacity: 0.1;
}

@media (max-width: 1200px) {

    .containerGameSnowmanDescription-gameOn {
        display: grid;
        grid-row: 1 / 6;
        grid-column: 2 / 3;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .containerGameSnowmanDescription-gameButton {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        grid-template-rows: 2fr 6fr 2fr;
        grid-template-columns: 1fr 8fr 1fr;
    }
}